@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'IM Fell English SC', serif;
  background-color: rgb(12, 12, 12);
}

/* img{
  height:35vh;
  border-radius: 10px;
  box-shadow: 0 0 10px white; 
 
} */
 /* ########### Header##########  */
header{
  background-color: rgb(33, 33, 33);
  height:40px;
  text-align: center;
  padding:20px;
}
input{
  text-align: center;
  padding:10px 70px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
}
h2{
  font-size: 3rem;
  text-align: center;
  padding: 10px 0;
  background-color:rgb(12, 12, 12);
  color: White;
  text-shadow: 0 0 3px white;
  box-shadow: 0 0 10px white;
  margin:50px auto 30px auto;
  border: 1px solid white;
  border-radius:20px 0 20px 0;
  width: 40%;

}
.h2Section{
  padding:5vh 0 0 0;
}
 /* ########## Section ##########  */
.sectionGrid{
  position: relative;
  scroll-behavior:smooth;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  background-color: rgb(12, 12, 12);
  padding:0vh 0 0 0;
  width:100%
}

p{
color: white;
font-size: 1.2rem;
}
.sectionGrid >div{
  /* height:45vh; */
  margin: 30px;
  position: relative;

}
.sectionGrid p:nth-of-type(2){
 height:80px;
  
}
.sectionGridNew article{
  margin: 30px;
  position: relative;
  
}
.sectionGridNew p:nth-of-type(2){
  height:80px;
  
}
/* ########## Upcomming ##########  */
.sectionGridUpcomming div{
  margin: 30px;
  position: relative;
}
.sectionGridUpcomming p:nth-of-type(2){
  height:80px;
}
.voting{
  position: absolute;
  top: 30px;
  left: -10px;
  background-color: yellowgreen;
  text-align: center;
  padding:5px 0 0 0;
  width: 35px;
  height: 30px;
  border-radius: 50%;
}
/* ########## Scroll Button ##########  */
.btnLeft{
  position: sticky;
  left: 0px;
  width: 100px;
  z-index: 1;
  top: 0px;
  opacity: 0.8;
}

.btnRight{
width: 100px;
position: sticky;
right: 0px;
top: 0px;
opacity: 0.8;

}
.btnLink{
  background-color: yellowgreen;
  padding: 5px 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 50px 10px 10px 10px;
}
.btnLink:hover{
  background-color: rgb(0, 0, 0);
  padding: 5px 20px;
  color: white;
  border: 2px solid yellowgreen;
  border-radius: 5px;
  cursor: pointer;
}
.Link{
  color: white;
  text-decoration: none;
  
}
/* ########## Article ##########  */
.sectionGridNew{
  position: relative;
  scroll-behavior:smooth;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  background-color: rgb(12, 12, 12);
  width:100%;
  
}
.btnLeftnew{
  position:sticky;
  left: 0px;
  width: 100px;
  z-index: 1;
  top: 0px;
  opacity: 0.8;
}

.btnRightnew{
width: 100px;
position:sticky;
right: 0px;
top: 0px;
opacity: 0.8;
}
/* ########## Details ##########  */
.detailsDiv {
  display: flex;
  justify-content:center;
  margin-top:10vh;
  background-color: rgb(12, 12, 12);
  padding: 0 0 5vh 0;

}
.detailsDivChild {
  margin:0 0 0 30px;
 
}
.detailsDiv p{
  color: white;
  width:40vw;
  margin:15px 0;
}
.detailsDiv h3{
  color: white;
  width:40vw;
  margin: 0 0 20px 0;
}
.detailsDiv img{
  width:20%;
  border-radius: 10px;
  box-shadow: 0 0 10px white; 
  
}
/* ########## Search ##########  */
.homeBtnBack{
  background-color: rgb(33, 33, 33);
  text-align: center;
  
}
.homeBtnBack button{
  width: 100%;
  padding:5px 0;
  background-color:yellowgreen;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'IM Fell English SC', serif;

}
.searchButton{
  background-color: rgb(33, 33, 33);
  text-align: center;
  padding: 0 0 30px 0;
}
.searchButton button{
  padding: 5px 60px;
  border-radius:5px;
  cursor: pointer;
 }
.sectionGridUpcomming{
  position: relative;
  scroll-behavior:smooth;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  background-color: rgb(12, 12, 12);
  width:100%;
  padding: 0 0 5vh 0;
}

.searchSection{
text-align: center;
display: grid;
grid-template-columns: repeat(4,1fr);
padding: 0 0 5vh 0;
}
.searchSection div{
  position: relative;
margin: 30px;
}
.searchSection img{
 width: 80%;
 
 border-radius: 20px;
 box-shadow: 0 0 10px white;
}

/* ########## MediaQueries ##########  */





@media (min-width: 300px) {
 
  body{
    font-family: 'IM Fell English SC', serif;
    background-color: rgb(12, 12, 12);
  }
  
  img{
   width: 160px;
   height:210px;
  }
   /* ########## Header##########  */
  header{
    background-color: rgb(33, 33, 33);
    height:20px;
    text-align: center;
    padding:20px;
  }
  input{
    text-align: center;
    padding:10px 40px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px;
  }
  h2{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    background-color:rgb(12, 12, 12);
    color: White;
    text-shadow: 0 0 3px white;
    box-shadow: 0 0 10px white;
    margin:30px auto 30px auto;
    border: 1px solid white;
    border-radius:20px 0 20px 0;
    width: 70%;
  
  }
   /* ########## Section ##########  */
  .sectionGrid{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x:auto;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    padding:0vh 0 0 0;
    width:100%
  }
  p{
  
  color: white;
  font-size: 1.2rem;
  }
  .sectionGrid div{
    margin: 30px;
    position: relative;
    
  }
  .homeImg{
    height:250px;
    border-radius: 10px;
    box-shadow: 0 0 10px white; 
  }
  .sectionGrid p:nth-of-type(2){
    margin-top: 10px;
   height:80px;
    
  }
  .sectionGridNew article{
    margin: 30px;
    position: relative;
    
  }
  .sectionGridNew p:nth-of-type(2){
    height:80px;
    
  }
  /* ########## Upcomming ##########  */
  .sectionGridUpcomming div{
    margin: 30px;
    position: relative;
  }
  .sectionGridUpcomming p:nth-of-type(2){
    height:80px;
  }
  .voting{
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: yellowgreen;
    text-align: center;
    padding:5px 0 0 0;
    width: 35px;
    height: 30px;
    border-radius: 50%;
  }
  /* ########## Scroll Button ##########  */
  .btnLeft{
    position: sticky;
    left: 0px;
    width: 100px;
    z-index: 1;
    top: 0px;
    opacity: 0.8;
    display:none;
  }
  
  .btnRight{
  width: 100px;
  position: sticky;
  right: 0px;
  top: 0px;
  opacity: 0.8;
  display:none;
  }
  .btnLink{
    background-color: yellowgreen;
    padding: 5px 20px;
  
    border-radius: 5px;
  }
  .Link{
    color: white;
    text-decoration: none;
    
  }
  /* ########## Article ##########  */
  .sectionGridNew{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x: auto;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    width:100%
  }
  .btnLeftnew{
    position:sticky;
    left: 0px;
    width: 100px;
    z-index: 1;
    top: 0px;
    opacity: 0.8;
    display:none;
  }
  
  .btnRightnew{
  width: 100px;
  position:sticky;
  right: 0px;
  top: 0px;
  opacity: 0.8;
  display:none;
  }
  /* ########## Details ##########  */
  .detailsDiv {
    text-align: center;
    display: flex;
    justify-content:center;
    flex-direction: column;
    overflow: hidden;
    margin-top:10vh;
    background-color: rgb(12, 12, 12);
    padding: 0 0 5vh 0;
  
  }
  .iFrime{
    width:350px;
    height:200px;
    margin-right: 10px;
  }
  
  .detailsDivChild {
    margin:0 0 0 0px;
   
  }
  .detailsDiv p{
    
    color: white;
    width:95vw;
    margin:15px auto;
  }
  .detailsDiv h3{
    color: white;
    width:40vw;
    margin: 10px auto;
  }
  .detailsDiv img{
    width:auto;
    height:auto;
    margin: 0 auto;
    
  }
  /* ########## Search ##########  */
  .sectionGridUpcomming{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x: auto;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    width:100%
  }
  .searchButton{
    background-color: rgb(33, 33, 33);
    text-align: center;
    
  }
  .searchButton button{
   padding: 5px 95px;
   border-radius: 10px;
   
  }
  .searchSection{
  text-align: center;
  display: flex;
  justify-content: center;
  
  position: relative;
  flex-direction: column;
  align-items:center;
  overflow: hidden;
  }
  
  .votingSearch{
   
  }
  .searchSection p:nth-of-type(1){
margin:35px 0 20px 0;
  
  }
  .searchSection p:nth-of-type(2){
    
    
    background-color: yellowgreen;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .searchSection div{
  position: relative;
  margin: 0px;
  text-align: center;
  }
  .searchSection img{
    width: 150px;
    height:210px;
   border-radius: 10px;
   box-shadow: 0 0 10px white;
   
  }
}
@media (min-width: 735px) {
 
  body{
    font-family: 'IM Fell English SC', serif;
    background-color: rgb(12, 12, 12);
  }
  
  img{
   width: 160px;
   height:210px;
  }
   /* ########## Header##########  */
  header{
    background-color: rgb(33, 33, 33);
    height:20px;
    text-align: center;
    padding:20px;
  }
  input{
    text-align: center;
    padding:10px 40px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px;
  }
  h2{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    background-color:rgb(12, 12, 12);
    color: White;
    text-shadow: 0 0 3px white;
    box-shadow: 0 0 10px white;
    margin:30px auto 30px auto;
    border: 1px solid white;
    border-radius:20px 0 20px 0;
    width: 70%;
  
  }
   /* ########## Section ##########  */
  .sectionGrid{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x:auto;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    padding:0vh 0 0 0;
    width:100%
  }
  p{
  
  color: white;
  font-size: 1.2rem;
  }
  .sectionGrid div{
    margin: 30px;
    position: relative;
    
  }
  .homeImg{
    height:350px;
    width:250px;
    border-radius: 10px;
    box-shadow: 0 0 10px white; 
  }
  .sectionGrid p:nth-of-type(2){
   height:80px;
    
  }
  .sectionGridNew article{
    margin: 30px;
    position: relative;
    
  }
  .sectionGridNew p:nth-of-type(2){
    height:80px;
    
  }
  /* ########## Upcomming ##########  */
  .sectionGridUpcomming div{
    margin: 30px;
    position: relative;
  }
  .sectionGridUpcomming p:nth-of-type(2){
    height:80px;
  }
  .voting{
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: yellowgreen;
    text-align: center;
    padding:5px 0 0 0;
    width: 35px;
    height: 30px;
    border-radius: 50%;
  }
  /* ########## Scroll Button ##########  */
  .btnLeft{
    position: sticky;
    left: 0px;
    width: 100px;
    z-index: 1;
    top: 0px;
    opacity: 0.8;
    display:none;
  }
  
  .btnRight{
  width: 100px;
  position: sticky;
  right: 0px;
  top: 0px;
  opacity: 0.8;
  display:none;
  }
  .btnLink{
    background-color: yellowgreen;
    padding: 5px 20px;
    
    border-radius: 5px;
  }
  .Link{
    color: white;
    text-decoration: none;
    
  }
  /* ########## Article ##########  */
  .sectionGridNew{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x: auto;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    width:100%
  }
  .btnLeftnew{
    position:sticky;
    left: 0px;
    width: 100px;
    z-index: 1;
    top: 0px;
    opacity: 0.8;
    display:none;
  }
  
  .btnRightnew{
  width: 100px;
  position:sticky;
  right: 0px;
  top: 0px;
  opacity: 0.8;
  display:none;
  }
  /* ########## Details ##########  */
  .detailsDiv {
    text-align: center;
    display: flex;
    justify-content:center;
    flex-direction: column;
    overflow: hidden;
    margin-top:10vh;
    background-color: rgb(12, 12, 12);
    padding: 0 0 5vh 0;
  
  }
  .iFrime{
    width:450px;
    height:250px;
    margin-right: 10px;
  }
  
  .detailsDivChild {
    margin:0 0 0 0px;
   
  }
  .detailsDiv p{
    
    color: white;
    width:95vw;
    margin:15px auto;
  }
  .detailsDiv h3{
    color: white;
    width:40vw;
    margin: 10px auto;
  }
  .detailsDiv img{
    width:50vw;
    
    margin: 0 auto;
    
  }
  /* ########## Search ##########  */
  .sectionGridUpcomming{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x: auto;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    width:100%
  }
  .searchButton{
    background-color: rgb(33, 33, 33);
    text-align: center;
    
  }
  .searchButton button{
   padding: 5px 95px;
   border-radius: 10px;
   
  }
  .searchSection{
    text-align: center;
    display: flex;
    justify-content: center;
    
    position: relative;
    flex-direction: column;
    align-items:center;
    overflow: hidden;
  }
  .searchSection p:nth-of-type(1){
margin:35px 0 20px 0;
  
  }
  .searchSection p:nth-of-type(2){
    background-color: yellowgreen;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .searchSection div{
  position: relative;
  margin: 0px;
  text-align: center;
  }
  .searchSection img{
    width: 250px;
    height:350px;
   border-radius: 10px;
   box-shadow: 0 0 10px white;
   
  }
}
@media (min-width: 1024px) {
 
  body{
    font-family: 'IM Fell English SC', serif;
    background-color: rgb(12, 12, 12);
  }
  
  img{
   width: 160px;
   height:210px;
  }
   /* ########## Header##########  */
  header{
    background-color: rgb(33, 33, 33);
    height:20px;
    text-align: center;
    padding:20px;
  }
  input{
    text-align: center;
    padding:10px 40px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px;
  }
  h2{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    background-color:rgb(12, 12, 12);
    color: White;
    text-shadow: 0 0 3px white;
    box-shadow: 0 0 10px white;
    margin:30px auto 30px auto;
    border: 1px solid white;
    border-radius:20px 0 20px 0;
    width: 70%;
  
  }
   /* ########## Section ##########  */
  .sectionGrid{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x:hidden;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    padding:0vh 0 0 0;
    width:100%
  }
  p{
  
  color: white;
  font-size: 1.2rem;
  width:300px
  }
  .sectionGrid div{
    margin: 30px;
    position: relative;
    
  }
  
  .sectionGrid p:nth-of-type(2){
   height:80px;
    
  }
  .sectionGridNew article{
    margin: 30px;
    position: relative;
    
  }
  .sectionGridNew p:nth-of-type(2){
    height:80px;
    
  }
  /* ########## Upcomming ##########  */
  .sectionGridUpcomming div{
    margin: 30px;
    position: relative;
  }
  .sectionGridUpcomming p:nth-of-type(2){
    height:80px;
  }
  .voting{
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: yellowgreen;
    text-align: center;
    padding:5px 0 0 0;
    width: 35px;
    height: 30px;
    border-radius: 50%;
  }
  /* ########## Scroll Button ##########  */
  .btnLeft{
    position: sticky;
    left: 0px;
    width: 100px;
    z-index: 1;
    top: 0px;
    opacity: 0.8;
    display:inline;
  }
  
  .btnRight{
  width: 100px;
  position: sticky;
  right: 0px;
  top: 0px;
  opacity: 0.8;
  display:inline;
  }
  .btnLink{
    background-color: yellowgreen;
    padding: 5px 20px;
   
    border-radius: 5px;
  }
  .Link{
    color: white;
    text-decoration: none;
    
  }
  /* ########## Article ##########  */
  .sectionGridNew{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    width:100%
  }
  .btnLeftnew{
    position:sticky;
    left: 0px;
    width: 100px;
    z-index: 1;
    top: 0px;
    opacity: 0.8;
    display:inline;
  }
  
  .btnRightnew{
  width: 100px;
  position:sticky;
  right: 0px;
  top: 0px;
  opacity: 0.8;
  display:inline;
  }
  /* ########## Details ##########  */
  .detailsDiv {
    text-align: center;
    display: flex;
    justify-content:center;
    flex-direction: row;
    overflow: hidden;
    margin-top:10vh;
    background-color: rgb(12, 12, 12);
    padding: 0 0 5vh 0;
  
  }
  .iFrime{
    width:450px;
    height:250px;
    margin-right: 10px;
  }
  
  .detailsDivChild {
    margin:0 0 0 0px;
    width:50vw;
   
  }
  .detailsDiv p{
    
    color: white;
    width: 100%;
    margin:15px auto;
  }
  .detailsDiv h3{
    color: white;
    width:40vw;
    margin: 10px auto;
  }
  .detailsDiv img{
    width:30vw;
    
    margin: 0 50px;
    
  }
  /* ########## Search ##########  */
  .sectionGridUpcomming{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    width:100%
  }
  .searchButton{
    background-color: rgb(33, 33, 33);
    text-align: center;
    
  }
  .searchButton button{
   padding: 5px 95px;
   border-radius: 10px;
   
  }
  .searchSection{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;
    flex-direction: column;
    align-items:center;
    overflow: hidden;
  }
  .searchSectionMain{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap
  }
  .searchSection p:nth-of-type(1){
margin:35px 0 20px 0;

  
  }
  .searchSection p:nth-of-type(2){
    background-color: yellowgreen;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .searchSection div{
  position: relative;
  margin: 0px;
  text-align: center;
  }
  .searchSection img{
    width: 350px;
    height:450px;
   border-radius: 10px;
   box-shadow: 0 0 10px white;
   
  }
}
@media (min-width: 1600px) {
 
  body{
    font-family: 'IM Fell English SC', serif;
    background-color: rgb(12, 12, 12);
  }
  
  img{
   width: 160px;
   height:210px;
  }
   /* ########## Header##########  */
  header{
    background-color: rgb(33, 33, 33);
    height:20px;
    text-align: center;
    padding:20px;
  }
  input{
    text-align: center;
    padding:10px 40px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px;
  }
  h2{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    background-color:rgb(12, 12, 12);
    color: White;
    text-shadow: 0 0 3px white;
    box-shadow: 0 0 10px white;
    margin:30px auto 30px auto;
    border: 1px solid white;
    border-radius:20px 0 20px 0;
    width: 70%;
  
  }
   /* ########## Section ##########  */
  .sectionGrid{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x:hidden;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    padding:0vh 0 0 0;
    width:100%
  }
  p{
  
  color: white;
  font-size: 1.2rem;
  }
  .sectionGrid div{
    margin: 30px;
    position: relative;
    
  }
  
  .sectionGrid p:nth-of-type(2){
   height:80px;
    
  }
  .sectionGridNew article{
    margin: 30px;
    position: relative;
    
  }
  .sectionGridNew p:nth-of-type(2){
    height:80px;
    
  }
  /* ########## Upcomming ##########  */
  .sectionGridUpcomming div{
    margin: 30px;
    position: relative;
  }
  .sectionGridUpcomming p:nth-of-type(2){
    height:80px;
  }
  .voting{
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: yellowgreen;
    text-align: center;
    padding:5px 0 0 0;
    width: 35px;
    height: 30px;
    border-radius: 50%;
  }
  /* ########## Scroll Button ##########  */
  
  .btnLink{
    background-color: yellowgreen;
    padding: 5px 20px;
    
    border-radius: 5px;
  }
  .Link{
    color: white;
    text-decoration: none;
    
  }
  /* ########## Article ##########  */
  .sectionGridNew{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    width:100%
  }
  .btnLeftnew{
    position:sticky;
    left: 0px;
    width: 100px;
    z-index: 1;
    top: 0px;
    opacity: 0.8;
    display:inline;
  }
  
  .btnRightnew{
  width: 100px;
  position:sticky;
  right: 0px;
  top: 0px;
  opacity: 0.8;
  display:inline;
  }
  /* ########## Details ##########  */
  .detailsDiv {
    text-align: center;
    display: flex;
    justify-content:center;
    flex-direction: row;
    overflow: hidden;
    margin-top:10vh;
    background-color: rgb(12, 12, 12);
    padding: 0 0 5vh 0;
  
  }
  .iFrime{
    width:650px;
    height:350px;
    margin-right: 10px;
  }
  
  .detailsDivChild {
    margin:0 0 0 0px;
    width:50vw;
   
  }
  .detailsDiv p{
    
    color: white;
    width: 100%;
    margin:15px auto;
  }
  .detailsDiv h3{
    color: white;
    width:40vw;
    margin: 10px auto;
  }
  .detailsDiv img{
    width:500px;
    
    margin: 0 50px;
    
  }
  /* ########## Search ##########  */
  .sectionGridUpcomming{
    position: relative;
    scroll-behavior:smooth;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    background-color: rgb(12, 12, 12);
    width:100%
  }
  .searchButton{
    background-color: rgb(33, 33, 33);
    text-align: center;
    
  }
  .searchButton button{
   padding: 5px 95px;
   border-radius: 10px;
   
  }
  .searchSection{
    text-align: center;
    display: flex;
    justify-content: center;
    
    position: relative;
    flex-direction: column;
    align-items:center;
    overflow: hidden;
  }
  .searchSection p:nth-of-type(1){
margin:35px 0 20px 0;
  
  }
  .searchSection p:nth-of-type(2){
    background-color: yellowgreen;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .searchSection div{
  position: relative;
  margin: 0px;
  text-align: center;
  }
  .searchSection img{
  
   border-radius: 10px;
   box-shadow: 0 0 10px white;
   
  }
}