@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'IM Fell English SC', serif;
  background-color: rgb(12, 12, 12);
}


 /* ########## Header##########  */
header{
  background-color: rgb(33, 33, 33);
  height:50px;
  text-align: center;
  padding:30px;
}
input{
  text-align: center;
  padding:10px 70px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}
h2{
  font-size: 3rem;
  text-align: center;
 padding: 10px 0;
  background-color:rgb(12, 12, 12);
  color: White;
  text-shadow: 0 0 3px white;
  box-shadow: 0 0 10px white;
  margin:0 auto 30px auto;
  border: 1px solid white;
  border-radius:20px 0 20px 0;
  width: 30%;

}
 /* ########## Section ##########  */
.sectionGrid{
  position: relative;
  scroll-behavior:smooth;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  background-color: rgb(12, 12, 12);
  padding:0vh 0 0 0;
  width:100%
}
p{

color: white;
font-size: 1.2rem;
}
.sectionGrid div{
  margin: 30px;
  position: relative;
  
}
.sectionGridNew article{
  margin: 30px;
  position: relative;
  
}
.sectionGridUpcomming div{
  margin: 30px;
  position: relative;
}
.voting{
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: yellowgreen;
  text-align: center;
  padding:5px 0 0 0;
  width: 35px;
  height: 30px;
  border-radius: 50%;
}
/* ########## Scroll Button ##########  */
.btnLeft{
  position: sticky;
  left: 0px;
  width: 100px;
  z-index: 1;
  top: 0px;
  opacity: 0.8;
}

.btnRight{
width: 100px;
position: sticky;
right: 0px;
top: 0px;
opacity: 0.8;

}
.btnLink{
  background-color: yellowgreen;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.Link{
  color: white;
  text-decoration: none;
  
}
/* ########## Article ##########  */
.sectionGridNew{
  position: relative;
  scroll-behavior:smooth;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  background-color: rgb(12, 12, 12);
  width:100%
}
.btnLeftnew{
  position:sticky;
  left: 0px;
  width: 100px;
  z-index: 1;
  top: 0px;
  opacity: 0.8;
}

.btnRightnew{
width: 100px;
position:sticky;
right: 0px;
top: 0px;
opacity: 0.8;
}
/* ########## Details ##########  */
.detailsDiv {
  display: flex;
  justify-content:center;
  margin-top:10vh;
  background-color: rgb(12, 12, 12);
  padding: 0 0 5vh 0;

}
.detailsDivChild {
  margin:0 0 0 30px;
 
}
.detailsDiv p{
  color: white;
  width:40vw;
  margin:15px 0;
}
.detailsDiv h3{
  color: white;
  width:40vw;
  margin: 0 0 20px 0;
}
.detailsDiv img{
  width:30%;
  
  
}

.sectionGridUpcomming{
  position: relative;
  scroll-behavior:smooth;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  background-color: rgb(12, 12, 12);
  width:100%
}